.body{
    display:flex;
    background-image: url(imagenes/serio.jpg);
    background-size: cover;
    justify-content: center;
    align-content: flex-end;
}

.caja-exterior{
    border: 1px, solid rgba(250, 250, 250, 0.503);
    background-color: rgba(0, 78, 111, 0.435);
    width: 780px;
    height: 376px;
}

#titulo{
    display: flex;
    justify-content: center;
    color: aliceblue;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.missing-fields{
    color: brown;
    background-color: rgb(250, 212, 224);
}


.datos-tarjeta{
    display: flex;
    color: aliceblue;
}

.datos-personales{
    display:flex;
    color: aliceblue;

}

.nombre-ciudad-tipopago{
    width: 420px;
}

.apellido-estado-codigo-mensaje{
    width: 420px;

}
.estado-codigo{
    display: flex
    
}

#mensaje{
    width: 370px;
}

#botones{
    display: flex;
    width: 370px;
    justify-content: center;
    margin-top: 70px;
}