
#div-principal{
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

#mi-primer-div{
    background-color: cornflowerblue;
    color: aqua;
}
#mi-primer-div > h1{
    background-color: rgb(39, 90, 192);
    color: rgb(174, 233, 255);
}

#mi-segundo-div{
    background-color: rgb(255, 190, 230);
    color: rgb(220, 0, 180);
}

/* hshdjds ctrl+} */